html {
      height: 100%;
      width: 100%;
    }
    body{
        color: white;
    }
    .main-frame{
        width: 98%;
        height: 550px;
        background: #1F2421;
        border: 6px solid #DCE1DE;
    }
    .language-frame{
        border-bottom: 1px solid white;
        height: 32px;
    }
    .language-frame button{
        text-align: center;
        background: #216869;
        width: 58px;
        height: 28px;
        color: white;
        border: none;
        outline: none;
        margin: 2px auto;
        font-size: 16px;
    }
    .language-frame .active {
        background: #DCE1DE;
        color: black;
        font-weight: bold;
    }
    #htmlBtn{
        margin: 2px auto auto 3px
    }
    textarea{
        width: 99%;
        height: 390px;
        background: transparent;
        border: none;
        resize: none;
        outline: none;
        color: white;
        overflow: auto;
        font-size: 18px;
    }
    #cssArea, #jsArea, #output{
        display: none;
    }
    #runBtn{
        padding: 5px;
        background: #49A078;
        width: 55px;
        height: auto;
        color: white;
        border: none;
        outline: none;
        font-size: 16px;
        float: right;
        font-weight: bold;
        margin: 2px 3px;
    }
    #output{
        width: 98%;
        height: 517px;
        border: none;
        outline: none;
    }